{% extends "base.twig" %}

{% block title %}Cadastrar tópico{% endblock %}

{% block header %}{% include "base/header.twig" %}{% endblock %}

{% block bread %}
    <div class="ui segment mini breadcrumb">
    <span class="section">Forum</span>
    <i class="right chevron icon divider"></i>
    <span class="section">Cadastrar tópico</span>
    </div>
{% endblock %}

{% block footer %}{% include "base/footer.twig" %}{% endblock %}

{% block master_class %}ui grid{% endblock %}

{% block left_class %}sixteen wide mobile twelve wide tablet ten wide computer centered column{% endblock %}

{% block mid_class %}sixteen wide mobile twelve wide tablet eight wide computer centered column{% endblock %}

{% block right_class %}hidden{% endblock %}

{% block content %}
    <div class="ui segment">
        <div class="row">
            {{ form_open|raw }}
            <input type="hidden" name="id_forum" value="{{ id_forum|raw }}">
            <h2 class="color-h-green">Cadastrar tópico </h2>
            <div class="ui segment">
                <div class="row">
                    <div class="field">

                        {{ label_nome|raw }}
                        {{ input_nome|raw }}

                        {% if (erros_validacao['nome']) %}

                            {{ erros_validacao['nome']|raw }}

                        {% endif %}

                    </div>
                <div class="ui grid">
                    <div class="sixteen wide column">

                        {{ button_submit|raw }}

                    </div>
                </div>
                {{ form_close|raw }}
            </div>
        </div>
    </div>
{% endblock %}